Django>=2.2,<2.3
djangorestframework>=3.10.1,<3.11
django-bootstrap-pagination==1.7.1
django-crispy-forms==1.7.2
django-filter==2.2.0
django-storages==1.9.1
django_request_id==1.0.0
natural-keys==1.5.1
psycopg2-binary==2.8.5
social-auth-core[openidconnect]==3.2.0
social-auth-app-django==3.1.0
occs-core==0.1.2
occs-cloudauth==0.2.0
rds-secrets==0.5.0
zappa==0.51.0
