header {
    background-color: #008;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#main {
    background-color: white;
    padding: 1em;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.maincard {
    min-width: 20rem;
}

.error {
    color: FireBrick;
}
