{% extends 'layout/layout.html' %}

{% block main %}
<div class="container">
	<div class="row">
		<div class="card m-3 shadow">
			<div class="card-header">
				<h4>Login</h4>
			</div>
			<div class="card-body">
				
				<ul class="list-unstyled">
					<li class="pb-2 pt-2">
						<a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
							Sign-in with Google
						</a>
					</li>
					<li class="pb-2 pt-2">
						<a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}">
							Sign-in with Facebook
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}