{% extends 'layout/layout.html' %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="card m-3 shadow maincard">
      <div class="card-header">
        <h3>Performances</h3>
      </div>
      <div class="card-body">
        <ul class="list-unstyled">
          {% for object in performance_list %}
            <li><strong>{{ object.title }}</strong> on {{ object.when }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="card m-3 shadow maincard">
      <div class="card-header">
        <h3>Reservations</h3>
      </div>
      <div class="card-body">
        {% if user.is_authenticated %}
          {% if reservation_list %}
            <ul class="list-unstyled">
              {% for object in reservation_list %}
                <li>{{ object }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>You have no reservations.</p>
          {% endif %}
        {% else %}
          <p>Sign-in to see reservations</p>
          <a class="card-link" href="cloudauth:login">Sign-in</a>
        {% endif %}
      </div>
    </div>
    <div class="card m-3 shadow maincard">
      <div class="card-header">
        <h3>Dancers</h3>
      </div>
      <div class="card-body">
        <form>
          <select class="dancers">
            {% for dancer in dancer_list %}
              <option value="{{ dancer.id }}">{{ dancer.display_name }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block more-scripts  %}
<script>
  $(document).ready(function() {
    $('.dancerts').select2();
  });
</script>
{% endblock %}
