{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="noindex,nofollow" name="robots"/>
  <meta http-equiv="X-UA_Compatible" content="IE=edge"/>
  {% block styles %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
          crossorigin="anonymous"/>
  {% endblock %}
  {% block more-styles %}{% endblock %}
  <title>{% block title %}{{ project_name|title }}{% endblock %}</title>
</head>
<body>
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="/">{{ project_name|title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#demo-navbar"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="demo-navbar">
      {% include "layout/navbar.html" %}
    </div><!-- /.navbar-collapse -->
  </div>
  <div class="messages">
    {% block messages %}
      {% if messages %}
        <div class="container">
          <div class="row">
            <div class="col-md-12 djmsgs">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                  <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </div>
  <div class="container-fluid">{% block breadcrumbs %}{% endblock %}</div>
  <div id="main">
    {% block main %}{% endblock %}
  </div>
  {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha256-ZvOgfh+ptkpoa2Y4HkRY28ir89u/+VRyDE7sB7hEEcI="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s="
            crossorigin="anonymous"></script>
  {% endblock %}
  {% block more-scripts %}{% endblock %}
</body>
</html>
