<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'colors' %}">Colors</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'favorite' %}">Favorite</a></li>
</ul>
<ul class="navbar-nav ml-auto">
  {% if user.is_anonymous %}
    <li class="nav-item"><a class="nav-link" href="{% url 'cloudauth:login' %}">Sign in</a></li>
  {% else %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="userNav" data-toggle="dropdown"
         role="button" aria-haspopup="true" aria-expanded="false">
        {{ request.user.username }}
      </a>
      <div class="dropdown-menu" aria-labelledby="userNav">
        <a class="dropdown-item" href="{% url 'cloudauth:logout' %}">Sign out</a>
        <a class="dropdown-item" href="{% url 'cloudauth:profile' %}">Profile</a>
        {% if user_is_admin %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'cloudauth-admin:list' %}">Accounts</a>
          <a class="dropdown-item" href="{% url 'cloudauth-admin:request-list' %}">Account Requests</a>
        {% endif %}
      </div>
    </li>
  {% endif %}
</ul>
